:root {
  --header-font: "Atkinson Hyperlegible Next";
  --body-font: "Inter";
  --mono-font: "0xProto";

  --light-blue: #4da6ff;
  --dark-blue: #4b5bab;
  --darkest-blue: #07060c;
  --dark-purple: #5a265e;
  --bg-grn: #ffffeb;
  --border-color: #bddeff;
  --comment-color: #69816b;
}

body {
  font-smooth: antialiased;
  background: white;
  font-family: var(--body-font);
  border-radius: 4px;
  scrollbar-gutter: stable both-edges;
}

header,
footer {
  margin: 0;
  color: white;
  background: var(--darkest-blue);
  padding: 4px;
  text-align: center;
}

header a,
header a:visited,
header a:hover,
footer a,
footer a:visited,
footer a:hover {
  color: white;
}

#toc {
  margin-top: 1em;
}

#toc h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#toc li {
  text-align: left !important;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 800px) {
  header,
  footer {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
  }
}

div.everything {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  border: 1em solid white;
  background: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: var(--dark-blue);
}

a:visited {
  color: var(--dark-purple);
}

h1 {
  font-size: xx-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkest-blue);
  font-family: var(--body-font) !important;
  margin-top: 0.25em;
  padding-top: 0.25em;
  font-weight: 700;
  line-height: 1;
}

h1,
h2 {
  font-family: var(--header-font) !important;
  font-weight: 600;
}

h1.page-title {
  font-size: 36pt;
}

h1.summary-title {
  margin: 0;
  padding: 8px;
  font-size: 30pt;
}

h1.summary-title a {
  color: var(--darkest-blue);
  text-decoration: none;
}

pre {
  color: darkslategray !important;
  font-family: var(--mono-font);
  font-weight: 300;
  font-size: 10pt;
  background: white !important;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  overflow: scroll;
}

code {
  color: var(--darkest-blue) !important;
  font-family: var(--mono-font);
  background: white !important;
}

nav {
  font-size: small;
  padding: 1em;
  display: block;
}

div.byline-etc,
div.pagination {
  font-size: 12pt;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  padding: 4px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.05) 1px,
    rgba(0, 0, 0, 0.025) 3px,
    rgba(0, 0, 0, 0.05) 4px,
    rgba(0, 0, 0, 0.05) 100%
  );
}

div.read-more {
  padding: 4px;
  text-align: right;
  padding-right: 8px;
  font-weight: 700;
}

article {
  line-height: 1.5;
}

aside {
  background: var(--bg-grn);
  font-family: var(--header-font) !important;
  font-size: small;
  padding: 1em;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  display: block;
}

img {
  display: block;
  text-align: center;
  width: 90%;
  height: auto;
  border: 1px solid --var(--border-color);
  border-radius: 2px;
  padding: 4px;
  margin-bottom: 0.25em;
}

a.taglink {
  font-size: small;
  font-family: var(--mono-font);
  text-decoration: none;
  font-weight: 300;
  padding: 2px;
  color: black !important;
  border-radius: 12px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px;
  box-shadow: 0 0 3px rgb(255, 255, 255);
}

a.taglink::before {
  content: "🏷️";
  font-size: 8pt;
  color: white;
  padding-right: 6px;
  text-shadow: 0 0 2px white;
}

span.tag-count {
  font-family: var(--body-font);
  color: rgba(0, 0, 0, 0.5);
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  font-weight: 600;
  font-size: smaller;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 3px rgba(255, 255, 255);
}

article.summary {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

article.summary:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

div.summary-text {
  padding: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

table {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  padding: 0;
  border-spacing: 0;
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

thead {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

th {
  padding: 1em;
}

td {
  padding: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

blockquote {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

time {
  font-family: var(--mono-font);
  font-size: smaller;
  font-weight: 300;
  padding: 4px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  color: black;
}

time:before {
  color: var(--darkest-blue);
  content: "📅";
  font-weight: normal;
  text-shadow: 0 0 2px black;
  margin-right: 2px;
}

.nav-item:not(:first-child):before {
  content: " | ";
}

ul.links-tags {
  list-style-type: none;
}

ul.links-tags li {
  font-size: 16pt;
  display: inline-block;
  margin: 4px;
}

div.pagination > a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

a.pagination-prev {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  padding-right: 4px;
}

a.pagination-prev::before {
  content: "<-";
}

a.pagination-next {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 4px;
}

a.pagination-next::after {
  content: "->";
}

/* Syntax highlighting */

span.k {
  color: var(--darkest-blue);
}

span.o {
  opacity: 0.5;
}

span.ow,
span.k {
  font-style: italic;
  color: var(--darkest-blue);
}

span.n {
  color: var(--darkest-blue);
  opacity: 0.55;
}

span.nb {
  color: var(--dark-purple);
  opacity: 0.85;
  font-weight: 600;
}

span.sr {
  color: var(--dark-purple);
}

span.nf {
  color: var(--dark-blue);
  font-weight: 600;
}

span.kc {
  color: var(--darkest-blue);
}

span.o,
span.s {
  color: var(--dark-blue);
}

span.p {
  color: var(--dark-purple);
}

span.c1 {
  color: var(--comment-color);
}

span.nx {
  font-weight: 600;
}

span.kt {
  color: var(--dark-purple);
}
