

@font-face {
  font-family: "Comic";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    /* Modern Browsers */ url("/fonts/business.ttf") format("truetype");
}

:root {
  --body-font: "IBM Plex Sans";
  --header-font: "IBM Plex Serif";
  --mono-font: "Fira Code";

  --orange: rgb(203, 159, 73);
  --dark-purple: rgb(41, 25, 30);
  --dark-blue: rgb(17, 20, 76);
  --cream: rgb(243, 220, 195);
  --light-cream: rgb(255, 241, 226);
  --red: rgb(182, 44, 33);
  --blush: rgb(187, 131, 114);
}

body {
  font-family: var(--body-font);
  font-weight: 400;
}

main {
  border: 1em solid white;
  background: white;
}

a {
  color: var(--dark-blue);
}

a:visited {
  color: var(--dark-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
  font-family: var(--header-font) !important;
  font-weight: 700 !important;
  margin-top: 0.25em;
  padding-top: 0.25em;
}

pre {
  color: darkslategray !important;
  font-family: var(--mono-font);
  background: white !important;
}

code {
  color: darkslategray !important;
  font-family: var(--mono-font);
  font-weight: 400;
  background: white !important;
}

nav {
  font-family: var(--header-font) !important;
  font-size: small;
  text-align: right;
  padding: 1em;
  border-bottom: 1px solid var(--cream);
  display: block;
  text-transform: uppercase;
}

aside {
  background: var(--light-cream);
  font-family: var(--header-font) !important;
  font-size: small;
  padding: 1em;
  border-top: 2px solid var(--cream);
  border-bottom: 2px solid var(--cream);
  display: block;
}

footer {
  background: white;
  font-family: var(--header-font) !important;
  padding: 1em;
  display: block;
}

img {
  display: block;
  align: center;
  width: 90%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  padding: 4px;
  margin-bottom: 0.25em;
}

a.taglink {
  font-size: x-small;
  font-family: var(--mono-font);
  text-decoration: none;
  font-weight: normal;
  padding: 2px;
  color: black !important;
  border-radius: 8px;
  display: inline-block;
}

a.taglink::before {
  content: "𐂧";
  color: white;
  padding-right: 6px;
  text-shadow: 0 0 2px black;
}

table {
  border: 1px solid rgba(0, 0, 0, 0.048);
}

thead {
  background-color: rgba(0, 0, 0, 0.048);
}

th {
  padding: 1em;
}

td {
  border-top: 1px solid rgba(0, 0, 0, 0.048);
}

blockquote {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 0 30px white inset;
}

time {
  font-family: var(--mono-font);
}

time:before {
  color: var(--blush);
  content: "𐂂";
  font-weight: normal;
}

/* This is for my dark theme homeys and homeys-adjacent */
@media (prefers-color-scheme: dark) {
  @keyframes {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(2deg) translate(2em, 0);
    }
    50% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(-2deg) translate(-2em, 0);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  body {
    margin-left: 17em;
    display: inline-block;
  }

  a,
  a:hover,
  a:visited {
    color: white !important;
  }

  pre,
  code {
    color: black !important;
    background: white !important;
  }

  image {
    background-color: white !important;
  }
}
