<header>
	<h1>{{ .Site.Title }}</h1>
	<div class="subtitle">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
			{{ if not (eq .URL "/") }}
				<a href="/"><b>main</b></a>
			{{ else }}
				<b>main</b>
			{{end}}

			{{ $currentPage := . }}

			{{ with .Site.Menus.main }}
			{{ range . }}

			{{ $menu_item_url := .URL | relLangURL }}
			{{ $page_url:= $currentPage.RelPermalink | relLangURL }}
		
			|
				{{ if eq $menu_item_url $page_url }}
					<b>{{ .Name }}</b>
				{{ else }}
					<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
				{{ end }}

			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
