<!DOCTYPE html><html>
    <head>
        <title>{{ .Permalink }}</title>
        <link rel="canonical" href="{{ .Permalink }}"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
      	{{if .Page.Params.vanity -}}
        {{ $hostname := urls.Parse $.Site.BaseURL }}
      	<meta name="go-import" content="{{ $hostname.Hostname }}/{{strings.TrimPrefix "/" (substr .Page.RelPermalink 0 -1 )}} git {{.Page.Params.vanity}}">
      	<meta name="go-source" content="{{ $hostname.Hostname }}/{{strings.TrimPrefix "/" (substr .Page.RelPermalink 0 -1 )}} {{.Page.Params.vanity}} {{.Page.Params.vanity}}/tree/master{/dir} {{.Page.Params.vanity}}/blob/master{/dir}/{file}#L{line}">
      	{{- end}}
    </head>
    <body>
      Go to <a href="{{ .Permalink }}"/>{{ .Permalink }}</a>.
    </body>
</html>
