<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
    {{if ( and .Page.Params.gomodvanityhost .Page.Params.gomodvanityrepo ) -}}
    {{ $hostname := urls.Parse $.Site.BaseURL }} {{ $pageParams := .Page.Params
    }} {{ range .Page.Aliases }}
    <meta
      name="go-import"
      content="{{ $pageParams.gomodvanityhost }}{{ . }} git {{$pageParams.gomodvanityrepo}}"
    />
    <meta
      name="go-source"
      content="{{ $pageParams.gomodvanityhost }}{{ . }} {{$pageParams.gomodvanityrepo}} {{$pageParams.gomodvanityrepo}}/tree/master{/dir} {{$pageParams.gomodvanityrepo}}/blob/master{/dir}/{file}#L{line}"
    />
    {{ end }} {{- end}}
  </head>
  <body>
    Go to <a href="{{ .Permalink }}">{{ .Permalink }}</a>.
  </body>
</html>
