<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="nosnippet">
	<title>{{ .Title }}</title>
    {{if ( and .Page.Params.gomodvanityhost .Page.Params.gomodvanityrepo ) -}} {{ $hostname :=
    urls.Parse $.Site.BaseURL }} {{ $pageParams := .Page.Params }} {{ range
    .Page.Aliases }}
    <meta
      name="go-import"
      content="{{ $pageParams.gomodvanityhost }}{{ . }} git {{$pageParams.gomodvanityrepo}}"
    />
    <meta
      name="go-source"
      content="{{ $pageParams.gomodvanityhost }}{{ . }} {{$pageParams.gomodvanityrepo}} {{$pageParams.gomodvanityrepo}}/tree/master{/dir} {{$pageParams.gomodvanityrepo}}/blob/master{/dir}/{file}#L{line}"
    />
    {{ end }} {{- end}}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Title }}" />
	{{ with .Site.Params.description }}<meta name="og:description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="og:author" content="{{ . }}">{{ end }}

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	<div class="everything">
		{{ partial "header" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
	</div>
</body>
</html>
