<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="nosnippet">
	<title>{{ .Title }}</title>
	{{if .Page.Params.vanity -}}
	{{ $hostname := urls.Parse $.Site.BaseURL }}
	<meta name="go-import" content="{{ $hostname.Hostname }}/{{strings.TrimPrefix "/" (substr .Page.RelPermalink 0 -1 )}} git {{.Page.Params.vanity}}">
	<meta name="go-source" content="{{ $hostname.Hostname }}/{{strings.TrimPrefix "/" (substr .Page.RelPermalink 0 -1 )}} {{.Page.Params.vanity}} {{.Page.Params.vanity}}/tree/master{/dir} {{.Page.Params.vanity}}/blob/master{/dir}/{file}#L{line}">
	{{- end}}
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Title }}" />
	{{ with .Site.Params.description }}<meta name="og:description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="og:author" content="{{ . }}">{{ end }}

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	<div class="everything">
		{{ partial "header" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
	</div>
</body>
</html>
