{{ define "main" }}
<main>
  {{ $listtitle := .Title }} {{ if or .Title .Content }}
  <div>
    {{ with .Title }}
    <h1>{{ strings.Replace . "-" " " | strings.Title }}</h1>
    {{ end }} {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}
  </div>
  {{ end }} {{ $links := ( collections.Sort .Paginator.Pages "Date" "desc" ) }}
  {{if eq $listtitle "Tags" }} {{ $links = ( collections.Sort $links "Title"
  "asc" ) }} {{ end }}

  <ul class="links-{{ strings.Replace (.Title | strings.ToLower ) " " "-" }}">
    {{ range $links }}
    <li>
      <div>
        {{ if eq $listtitle "Posts" }} {{ .Date.Format "2006-01-02" }}
        <a href="{{ .RelPermalink }}">{{.Title }}</a>
        {{else if eq $listtitle "Tags" }}
        <a class="taglink" href="{{ .RelPermalink }}"
          >{{ strings.Replace .Title "-" " " | strings.Title}} <span class="tag-count">({{ len .Pages }})</span></a
        >
        {{ else }}
        <a class="post-title" href="{{ .RelPermalink }}">{{.Title }}</a>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</main>
{{ end }}
