{{ define "main" }}
	<main>
		<article>
			<h1 class="page-title" data-pagefind-body>
				{{ .Title | strings.Title }}
			</h1>
			{{ if or (not .Date.IsZero) (ne (len .Params.tags) 0) }}
				<div class="byline-etc">
					{{ if not .Date.IsZero }}
					<time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
					{{ end }}
					{{ range collections.Sort .Params.tags }}
						<a class="taglink" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
						{{ end }}
				</div>
			{{ end }}
			
			<div data-pagefind-body>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
