<article class="summary">
	<h1 class="summary-title"><a href="{{ .Permalink }}">{{ .Title | strings.Title }}</a></h1>
	<div>
		<div class="byline-etc">
			{{ if not .Date.IsZero }}
			<time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
			{{ end }}
			{{ range collections.Sort .Params.tags }}
			<a class="taglink" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</div>

		<div class="summary-text">
			{{ .Summary | plainify }}
			{{ if .Truncated }}
			<div class="read-more">
				<a  href="{{ .Permalink }}">Read more...</a>
			</div>
			{{ end }}
		</div>
	</div>
</article>
