html {
  overflow-y: scroll;
}
body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 14px/1.5 monospace;
  color: #black;
}
h1,
h2,
h3 {
  line-height: 1.2;
}

#toc h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#toc li {
  text-align: left !important;
  margin: 0;
  padding: 0;
}
